.seq {
    margin: 10px 0;
    padding-bottom: 10px;
    overflow-x: auto;
}

.seq .note {
    border-top: 1px solid #eee;
    border-bottom: 1px solid #eee;
    height: 36px;
}

.seq .note.time {
    height: 10px;
    border: 0;
}

.seq .note-name {
    position: fixed;
    background-color: #fff;
    margin-top: 2px;
    padding-top: 5px;
    width: 35px;
}

.seq .note.time .note-name {
    height: 12px;
}

.seq .steps {
    margin-left: 40px;
}

.seq .note div {
    height: 30px;
    display: inline-block;
    white-space: nowrap;
}

.seq .note.time div {
    height: 7px;
}

.seq .step {
    background-color: #999;
    /* border-left: 3px solid #666; */
    border-radius: 10px;
    cursor: pointer;
    margin: 2px;
    width: 30px;
}

.seq .step.even {
    background-color: #bbb;
}

.seq .step.active,
.seq .step.active.even {
    background-color: #f88;
}

.seq .step.selected {
    border: 3px dashed #666;
}

.seq .step.slide {
    border-right: 6px solid rgb(195 110 110);
}

.seq .time .step.active {
    background-color: rgb(136, 184, 255);
}
